.listBox {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.listScroll {
  overflow-y: auto;
}

.listSpin {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(#fff, 0.3);
}
